body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none;
  list-style: none;
  color: black;
}
a:focus {
  text-decoration: none;
  color: black;
}
html{ 
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none; 
}

button {
  font-family: Raleway;
}

.Red {
  background-color: red;
}

.Green {
  background-color: green;
}

.Blue {
  background-color: blue;
}

.Cyan {
  background-color: cyan;
}

.Black {
  background-color: rgb(2, 0, 0);
}

.white {
  background-color: white;
}