@import url(./Animation.css);

.card-container {
    width: 100%;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(214, 214, 214, 0.418);
    z-index: 1;
    top: 80px;
}

.cover-overlay {
    min-height: 10vh;
    max-height: 80vh;
    width: 355px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    margin-right: 80px;
    margin-top: -10px;
    top: 0px;
    border-radius: 0px;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.items-container {
    min-height: 10vh;
    max-height: 70vh;
    overflow-y: scroll;
    margin-left: 63px;
    padding-right: 40px;
}

.card {
    width: 300px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.card-overlay {
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
}

.card-description {
    width: 130px;
}
.card-con {
    display: flex;
    flex-direction: row;
}
.card-con img {
    width: 110px;
    height: 127px;
}

.card-header {
    padding-top: 20px;
    padding-right: 177px;
}

.card-header p {
    text-transform: capitalize;
    font-weight: 900;
}

.card-header span {
    text-transform: capitalize;
    font-weight: 600;
}

.plus-btn {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-direction: column;
    width: 30px;
    margin: 3px;
}

.plus-btn button {
    border: 1px solid black;
}


.plus-btn span {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    padding-right: 3px;

}

.card-btn {
    border: 1px solid black;
    min-width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.size-btn-container {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.attr-container {
    display: flex;
    flex-wrap: wrap;
}
.red {
    background-color: red;
}

.size-btn {
    font-size: 15px;
    margin: 5px;
    padding: 2px;
}

.card-footer {
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
}

.total-container {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.total-container p {
    font-weight: 900;
    font-family: Roboto;
    text-transform: capitalize;
}
.total-container span {
    font-weight: 700;
    text-transform: capitalize;
    padding-right: 20px;
}

.check-container {
    width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.check-container button {
    width: 130px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-transform: capitalize;
    margin-right: 11px ;
    
}

.green-white {
   background-color: #5ECE7B; 
   color: white;
   margin-left: 10px;
   border: none;
}

.green-white:hover {
    background-color: #5ece7ce0; 
    color: white;
    margin-left: 10px;
 }

.transparent {
    background-color: transparent;
    margin-left: -10px;
    border: 1px solid black;
} 

.transparent:hover {
    background-color: whitesmoke;
} 
.cart-qty {
    font-weight: 900;
}
.fadein {
    -webkit-animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-bl 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.empty-card {
    min-width: 300px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-card p{
    font-weight: 500;
    font-size: 18px;
    text-transform: capitalize;
}

.selected {
    background-color: rgba(48, 48, 48, 0.274);
}

.fadeout {
    animation: slide-in-fwd-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) reverse both;
  }

  @media only screen and (max-width: 600px) {
    .cover-overlay {
        margin-right: 0px;
        margin-right: -16.5px;
    } 
  }