.pdp-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-gallery {
    min-width: 200px;
    max-width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-right: 10px;
}

.product-gallery img {
    width: 120px;
    height: 120px;
    padding: 10px;
}

.product-image {
    width: 500px;
    height: 10%;
}

.product-image img {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.card-information {
    width: 400px;
    height: 600px;
    padding: 20px;
}

.card-information h2 {
    font-weight: 100;
    margin-bottom: 50px;

}

.card-information h6 {
    font-weight: 900;
    font-family: Roboto Condensed;
    font-size: 20px;

}

.add-to-card-container {
    padding: 10px;
}

.add-to-card{
    width: 100%;
    height: 50px;
    background-color: #5ECE7B;
    border: none;
    color: white;
    text-transform: uppercase;
}

.add-to-card:hover{

    background-color: #5ece7cea;

}
.disabled-btn {
    width: 100%;
    height: 50px;
    background-color: #5ECE7B;
    border: none;
    color: white;
    background-color: red;
    text-transform: uppercase;
    
}

.product-des {
    min-height: 0vh;
}

.top-img {
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.top-img:hover {
    transform: scale(1.05);
}

.attributes-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 20px;
}

.attributes-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.attributes-list li {
    list-style-type: none;
    width: 60px;
    height: 60px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picked-attr {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
}

.dashed {
    margin-top: -40px;
    font-size: 30px;
    font-weight: 900;
}
.black-bg {
    background-color: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .pdp-container {
        padding: 0px;
        flex-direction: column;

    }
    .product-image {
        width: 300px;
        height: 300px;
        margin-top: -300px;
        margin-left: 120px;
    }

    .product-image img {
        width: 70%;
        height: 50%;
        position: absolute;
        top: 200px;
    }
    
    .product-gallery {
        min-width: 100%;
        min-height: 500px;
        max-height: 600px;
        flex-wrap: wrap;
    }

    .product-gallery img {
        width: 25%;
        height: 25%;

    }
  }
  @media only screen and (max-width: 1200px) {
    .pdp-container {
        padding: 0px;
        padding-top: 80px;
    }
  }

  @media only screen and (max-width: 600px) {
    .card-information {
        width: 100%;
    }
  }