.cart-container {
    width: 100%;
    min-height: 100vh;
    margin-top: -0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
}

.heading-container {
    width: 100%;
    height: 100px;
    margin-top: -20px;
    margin-left: 200px;
}
.cart {
    width: 80%;
    height: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid black;
    transition: 1s all ease-in-out;

}

.btn-hover:hover {
background-color: whitesmoke;
}

.btn-size:focus  {
    background-color: black;
    color: whitesmoke;
}
.cart-titles {
    min-width: 300px;
    min-height: 250px;
}

.sizes-btn {
    display: flex;
    width: 400px;
}

.cart-counters {
    width: 70px;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.cart-counters button {
    width: 50px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    font-size: 40px;
}

.cart-counters p {
    font-size: 30px;
    font-weight: 600;
}

.cart-imgs {
    display: flex;

}

.cart-imgs img {
    height: 185px;
    width: 141px;
    left: 1057px;
    top: 281px;
    border-radius: 0px;
    
}

.remove-item {
    background-color: transparent;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: red;
}

.remove-item:hover {
    background-color: whitesmoke;
}
.remove-item:active {
    background-color: white;
}

.arrows-container {
    width: 180px;
    height: 30px;
    padding: 10px;
    position: absolute;
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container {
    width: 180px;
    height: 190px;
}
.image-container img {
    width: 100%;
    height: 100%;
}
.left-slider {
    margin-right: 20px;
}

.slider:hover {
    transform: scale(1.1);
    cursor: pointer
}

@media only screen and (max-width: 800px) {
    .cart {
        margin-right: 100px;
    }
    .cart {
        flex-direction: column;
    }
    .pd {
        width: 170px;
        padding-right:-100px;
    }
  }

  @media only screen and (max-width: 1280px) {
    .cart {
        margin-right: 100px;
    }
    .pd {
        width: 170px;
        padding-right:-100px;
    }
  }

  @media only screen and (max-width: 884px) {
    .cart {
        margin-left: 100px;
    }
    .pd {
        width: 170px;
        padding-right:-100px;
    }
  }

  @media only screen and (max-width: 600px) {
    .cart-titles {
        min-width: 100%;
        min-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cart-titles {
        min-width: 100%;
        min-height: 100%;
    }
    
  }
